body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    
margin: 0;
padding: 0;
    
   
}

.centered-heading {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.cta-button:hover {
    background-color: #e0e0e0;
}